/* General */
* {
  font-family: "Open Sans", sans-serif;
}

h1,
h5,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800 !important;
}

p {
  margin-bottom: 0;
}

.is-shblue {
  background-color: #0b3f84 !important;
}

.heading-text {
  font-size: 2rem;
}

.text-shblue {
  color: #0b3f84;
}

.button-sh {
  background-color: #fe5c36;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}

/* Navbar & Footer */
.link {
  text-decoration: none;
  color: #fff;
}

.iconstext {
  font-size: 10px;
}

.nounder {
  text-decoration: none;
}

.link:hover {
  color: #fe5c36;
}

/* About Us */

/* Parent Page */
.sh-link {
  color: #0b3f84;
  border: none;
  font-weight: 800;
  background-color: transparent;
}

/* Courses */
.active {
  color: #fe5c36;
}

/* Default React Stylings */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 404 Error Page Start */

/* 404 Erorr page end */

/*  Login/ Signup appearence start */
.auth-container {
  margin: 0 17rem;
  text-align: center;
}

.auth-btn {
  width: 25%;
  padding: 0.8rem 0;
}

.auth-card {
  margin: 3rem 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  width: 70%;
}

/* Dashboard starts  */

/* Contact Us page starts */

#contact hr {
  border: 3px solid #0b3f84;
}

#contact .heading-text {
  margin-top: 5rem;
  color: #0b3f84;
}

#contact .label-text {
  font-weight: 500;
  font-size: 1.5rem;
  color: #0b3f84;
}

#contact .input {
  height: 3rem;
  box-shadow: 2px 1px 4px 1px #969696;
}

/* Course indivisual page Starts */

.course-banner-img {
  height: 400px;
  background-image: url("https://th.bing.com/th/id/OIP.TCSkGnIfl1fIQieMpI1RVAHaE7?w=246&h=180&c=7&o=5&pid=1.7");
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
}

.course-container {
  background-color: white;
  margin: 5rem auto;
}

.course-includes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Privacy Policy page Starts */
#privacy-policy .heading-text {
  margin-top: 1rem;
  font-weight: 600;
}

#privacy-policy .link-text {
  display: block;
  font-size: 1.2rem;
}

#privacy-policy .subHeading-text {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Home page Animation */
.fade-in {
  animation: fade 0.9s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

/* .shape {
  height: 40px;
  width: 40px;
  animation: spin  2s ease-in;

} */

.logo-ani {
  animation: logo-spin 1s linear;
}

/* @keyframes logo-spin {
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(23deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-23deg);
  }
} */

.shape-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

/* Meet the Team page starts */

.instructor-container {
  margin-top: 5rem;
  margin-left: 5rem;

  overflow: auto;
  border-radius: 5px;
  word-wrap: break-word;
  transform: rotate(-5.81deg);
  width: 80%;
  animation: instructorSpin1 0.9s ease-in;
}

#instructor2 > .instructor-container {
  transform: rotate(10.42deg);
  animation: instructorSpin2 0.9s ease-in;
}

@keyframes instructorSpin1 {
  0% {
    transform: rotate(0);
  }
}

@keyframes instructorSpin2 {
  0% {
    transform: rotate(0);
  }
}

.instructor-img {
  float: left;
  width: 40%;
  height: auto;

  /* border: 5px solid brown; */
  /* background-color: aqua; */
}

#meet-team .card {
  transition: transform 1s ease-in;
}

#meet-team .card:hover {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
