/* General */
* {
  font-family: "Open Sans", sans-serif;
}

h1,
h5,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800 !important;
}

p {
  margin-bottom: 0;
}

.is-shblue {
  background-color: #0b3f84 !important;
}

.is-white {
  background-color: white !important;
}

.heading-text {
  font-size: 3rem;
}

.text-shblue {
  color: #0b3f84;
}

.button-sh {
  background-color: #fe5c36;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}
.badge-sh {
  background-color: #fe5c36;
  color: white;
}

.button-shmenu {
  background-color: #fe5c36;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

/* Navbar & Footer */
.link {
  text-decoration: none;
  color: #fff;
}
.signup-nav {
  transform: rotate(0deg);


}
.signup-nav:hover {
  position: relative;
  animation: signup-ani 1.5s cubic-bezier(0, 2.01, 0.63, 1.23) 1;
  
}

@keyframes signup-ani {
  25% {
    transform: rotate(45deg);
    padding: 15px;
  }

  50%{
    transform: rotate(-45deg);
    padding: 5px;
  }
  75%{
    
  }
  100%{
    transform: rotate(0deg);
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: static !important;
  
}

@media (max-width: 991.98px) {
  .rep-photo {
    height: 150;
  }
}

/* @media (min-width: 1200px ) {
  .navbar-expand-lg {
    flex-wrap: nowrap!important;
    justify-content: flex-start!important;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none!important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;

  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow-y: visible!important;

  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row!important;

  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
  }
} */


.iconstext {
  font-size: 10px;
}

.nounder {
  text-decoration: none;
}

.nav-text {
  font-size: 1.2rem;
  color: white !important;
  border: 0 solid white;
  border-left-width: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-text:hover {
  border-radius: 10px;
  background-color: #fe5c36;
  color: white !important;
}

.nav-text > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-text > .link:hover {
  color: white;
}

#footer .nav-text {
  font-size: 0.9rem;
  border-left-width: 0;
  border-right-width: 3px;
  /* max-height: auto; */
}

#footer .logo {
  width: 320px;
  height: 90px;
  object-fit: cover;
}

#footer ul {
  list-style: none;
}

#footer h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

#footer 

/* footer, navbar ends */

/* Parent Page */
.sh-link {
  color: #0b3f84;
  border: none;
  font-weight: 800;
  background-color: transparent;
}

/* Courses */
.active {
  color: #fe5c36;
}

/* Default React Stylings */
.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 404 Error Page Start */

/* 404 Erorr page end */

/*  Login/ Signup appearence start */
.auth-container {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.auth-btn {
  width: 25%;
  padding: 0.8rem 0;
  min-width: 132px;
}

.auth-card {
  /* margin: 0 10rem; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  width: 65%;
}

/* Dashboard starts  */

/* Contact Us page starts */

#contact p {
  color: #0b3f84;
  font-size: 1.3rem;
}

#contact h2 {
  color: #0b3f84;
  font-weight: 600;
  padding-top: 3rem;
}

#contact hr {
  border: 3px solid #0b3f84;
}

#contact .heading-text {
  margin-top: 5rem;
  color: #0b3f84;
}

#contact .label-text {
  font-weight: 500;
  font-size: 1.5rem;
  color: #0b3f84;
}

#contact .input {
  height: 3rem;
  box-shadow: 2px 1px 4px 1px #969696;
}

/* Course indivisual page Starts */

.course-banner-img {
  height: 400px;
  background-image: url("https://th.bing.com/th/id/OIP.TCSkGnIfl1fIQieMpI1RVAHaE7?w=246&h=180&c=7&o=5&pid=1.7");
  background-repeat: repeat;
  position: absolute;
  z-index: -1;
}

.course-container {
  background-color: white;
  margin: 5rem auto;
}

.course-includes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Privacy Policy page Starts */
#privacy-policy .heading-text {
  margin-top: 1rem;
  font-weight: 600;
}

#privacy-policy .link-text {
  display: block;
  font-size: 1.2rem;
}

#privacy-policy .subHeading-text {
  font-size: 1.45rem;
  font-weight: 600;
}

/* Home page Start */

/* Home page font */
.mission-res {
  font-size: 1.1rem;
}

.background-video-container {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.background-video {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -9999;
}
/* .fade-in {
  animation: fade 0.9s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

*/

.slide-top {
  animation: slideTop 1s cubic-bezier(0.41, -0.32, 0, 1.65);
}

@keyframes slideTop {
  0% {
    margin-top: -300px;
  }
} 

.shape {
  height: 40px;
  width: 40px;
  position: absolute;
  animation: spin 2s ease-in infinite alternate;
  z-index: -1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .shape {
    visibility: hidden;
  }
  .mission-res {
    padding: 1rem 9rem 0 9rem;
  }
}

/* .shape-container {
  margin-top: 2rem;
} */

/* Home page animation ends */

/* Meet the Team page starts */

.instructor-container {
  margin-top: 5rem;
  margin-left: 5rem;

  overflow: auto;
  border-radius: 5px;
  word-wrap: break-word;
  width: 80%;
}

[data-aos="instructor-spin1"] {
  opacity: 0;
  transform: rotate(0deg);
  transition-property: transform, opacity;
}

[data-aos="instructor-spin1"].aos-animate {
  opacity: 1;
  transform: rotate(-5.81deg);
}

[data-aos="instructor-spin2"] {
  opacity: 0;
  transform: rotate(0deg);
  transition-property: transform, opacity;
}

[data-aos="instructor-spin2"].aos-animate {
  opacity: 1;
  transform: rotate(10.42deg);
}

@media (max-width: 768px) {
  [data-aos="instructor-spin1"].aos-animate {
    transform: rotate(0deg);
  }
  [data-aos="instructor-spin2"].aos-animate {
    transform: rotate(0deg);
  }
}

.instructor-img {
  float: left;
  width: 45%;
  height: auto;

  /* border: 5px solid brown; */
  /* background-color: aqua; */
}

.member-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

#meet-team .card {
  transition: transform 1s ease-in;
}

#meet-team .card:hover {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@media (max-width: 765px) {
  .instructor-container,
  #instructor2 > .instructor-container {
    transform: rotate(0deg);
    margin-top: 2rem !important;
  }
}

@media (min-width: 1200px) {
  #meet-team .col-j-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 576px) {
  #meet-team .col-sm-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}
/* Parent Faq start */

/* About us page begins  */

.top-catcher {
  height: 100vh;
  color: white;
  display: flex;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* below two are intuitive */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.top-catcher-container {
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-catcher-video {
  height: 100vh;
  color: white;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -9999;
}

#about-us .card {
  background-color: #0b3f84;
  color: white;
  border: none;
  display: flex;
  margin: 0 4.5rem;
}

#about-us .card-title {
  font-weight: 600;
  font-size: 1.6rem;
}
#about-us .focus-icon {
  width: 55%; 
}

.value-section {
  background-color: #0b3f84;
  color: white;
}

.value-container {
}

.value-section .row {
  text-align: center;
  color: black;
}

.value-section .row2 {
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
}

.row2 .card {
  width: 60%;
  margin: 0 5rem !important;
}

/* Student page starts */

#student-page .background-video {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -9999;
}

#student-page .holder-container {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

#student-page .subtitle-container {
  color: white;
  position: relative;
  top: 50vh;
  background-color: black;
  padding: 3rem 6rem;
  background-attachment: fixed;
}
